body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #ffcbcf5b;
  overflow-x: hidden;
}

h1, p {
  color: #f08080;
}

.carril {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.flecha {
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

.contenido-main {
  width: 100%;
  text-align: center;
  z-index: 50
}

img {
  width: 300px;
  max-width: 90%;
}

.imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  z-index: 50
}

.imagenes video {
  width: 250px;
  max-width: 100%;
  border-radius: 12px;
  z-index: 50
}

/* CARTA */
.carta {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.sobre {
  width: 280px;
  height: 180px;
  background: #f08080;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  transition: transform 0.8s ease;
}

.sobre.abierta {
  transform: scale(0.6) translateY(-80px);
}

.tapa {
  position: absolute;
  border-radius: 13px;
  inset: 0;
  background: #f4978e;
  clip-path: polygon(0 0, 100% 0, 50% 60%);
  transform-origin: top;
  transition: 0.8s;
}

.sobre.abierta .tapa {
  transform: rotateX(180deg);
  opacity: 0;
}

.hoja {
position: fixed; /* CAMBIO IMPORTANTE */ 
font-size: 40px; 
top: 50%; 
left: 50%; 
width: 400%; 
max-width: 800px; 
max-height: 80vh; 
overflow-y: auto; 
background: white; 
border-radius: 16px; 
padding: 30px; 
box-shadow: 0 20px 40px rgba(0,0,0,0.3); 
transform: translate(-50%, -50%) scale(0); 
transform-origin: center; 
transition: transform 0.8s ease, opacity 0.8s ease; opacity: 0; 
z-index: 50; 
color: #f4978e;
}

.sobre.abierta .hoja {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

/* FRASES */
#frase {
  position: fixed;
  font-weight: 600;
  font-size: 20px;
  opacity: 0;
  color: #f08080;
  transition: opacity 0.5s ease;
  pointer-events: none;
  z-index: 0;
}

#frase.mostrar {
  opacity: 1;
}

/* DECORACIÓN */
#decoracion {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.particula {
  position: absolute;
  animation: flotar 6s linear infinite;
}

@keyframes flotar {
  0% { transform: translateY(100vh); opacity: 0; }
  10% { opacity: 0.6; }
  100% { transform: translateY(-10vh); opacity: 0; }
}
